.container {
  text-align: center;
  border-bottom: var(--element-border);
  padding: 0.5rem;
}

.title {
  margin: 0;
}

.inputGroup {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.input {
  width: 100%;
}

.currentWalletAddress {
  display: flex;
  justify-content: center;
  margin-left: auto;

  &_value {
    max-width: 12ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #252525;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    border: solid 2px #7b7b7b;
  }
}

@media (min-width: 700px) {
  .container {
    display: flex;
    align-items: center;
    height: 4rem;
    padding: 0;
  }

  .title {
    margin-left: 1rem;
  }

  .inputGroup {
    margin-left: 2rem;
  }

  .input {
    max-width: 30rem;
  }

  .currentWalletAddress {
    margin-left: 0.2rem;
  }

  .image {
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-right: var(--element-border);
  }
}
